#btn-add-opt {
    color: #fff;
    background-color: #1c84c6;
    border-color: #1c84c6;
    padding: 10px;
    width: 40px;
    margin-top: 5px;
}
.btn-delete-opt{
    cursor:pointer;
    padding:10px;
}