#add-file {
    display: inline-block;
    margin-left: 10px;
    vertical-align: super;
    height: 140px;
    width: 140px;

    #uploader {
        border: dashed 2px #ccc;
        cursor: pointer;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width:100%;
        flex-direction: column;



        i {
            font-size: 20px;
        }
    }
}

.files-wraper {
    width:100%;
    overflow:hidden;
    .uploader-item {
        height: 140px;
        width: 140px;
        display:inline-block;
        margin-left:10px;
    }
}

.uploaded {
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;

    .btn-remove {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        background-color: rgba(255,255,255,0.3);
        color: red;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        border: none;
        font-size: 30px;
    }

    img {
        height: 100%;
        width: 100%;
    }
}

@media(max-width:576px){
    .files-wraper {
        font-size: 0;
    }
    #add-file, .uploader-item {
        width: 25% !important;
        height: 80px !important;
        padding: 5px !important;
        margin-left: 0 !important;
    }
    #add-file {
        width: 25% !important;

        label {
            font-size: 10px;
        }
    }
}