@{
    Layout = null;
}
<!DOCTYPE html>
<html class="bg-pattern">
<head>
    <meta name="viewport" content="width=device-width" />
 
    <title>ورود به سیستم</title>
    <link href="~/Content/Styles/Shared/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/Styles/Shared/material-design-iconic-font.min.css" rel="stylesheet" />
    <link href="~/Content/Styles/Shared/animate.css" rel="stylesheet" />
    <link href="~/Content/Styles/Console/OAuth/index.css" rel="stylesheet" />
    <link href="~/Content/Styles/Console/common.css" rel="stylesheet" />
</head>
<body >
  
    <div class="limiter ">
        <div class="container-login100">
            <div class="wrap-login100">

                @{
                    Html.RenderPartial(MVC.OAuth.Views.Partials._SignIn, new SignInModel { RememberMe = true });
                    Html.RenderPartial(MVC.OAuth.Views.Partials._SignUp, new SignUpModel());
                    //Html.RenderPartial(MVC.OAuth.Views.Partials._Verification, new ConfirmVerificationCode());
                    Html.RenderPartial(MVC.OAuth.Views.Partials._RecovePassword, new RecoverPasswordModel());
                }


            </div>
        </div>
    </div>

    <!--go2-->

    <footer class="c-footer-light">
        <div class="container">
            <ul class="c-footer-light__links">
                <li><a href="" title="درباره دارالترجمه امیرشاهی ">درباره دارالترجمه امیرشاهی آنلاین</a></li>
              
            </ul>
            <div class="c-footer-light__text">
                كليه حقوق مادي و معنوي اين سايت متعلق به تیم تخصصی وب سایت دارالترجمه امیرشاهی مي باشد.
                <br/>
                <span class="m-r-20">
                    Copyright © @DateTime.Now.Year
                </span>
            </div>

        </div>
    </footer>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/Console/common.js"></script>
    <script src="~/Scripts/Console/OAuth/index.js"></script>
</body>
</html>
