html {
    height: 100%;
}

body {
    background-color: #eee;
}
header .container{
    padding:0 30px!important;
}


#survey {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .card {
        padding: 0 15px;
        margin-bottom: 15px;
        background-color: #fff;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        border-radius: 3px;

        .heading {
            padding: 10px;
            border-bottom: solid 4px #eee;

            .subject {
                margin-bottom: 10px;
            }

            .text {
                margin-bottom: 0;
            }
        }

        .body {
            padding: 10px 0;

            .opt {
                margin-bottom: 5px;

                .label-checkbox100 {
                    cursor: pointer;
                }

                input[type='radio'] {
                    margin-top: 0;
                    vertical-align: middle;
                }
            }
        }

        textarea {
            padding: 10px;
            margin-bottom: 10px
        }
    }
}

@media(max-width:576px) {
    body {
        background-color: #fff;

        #survey {
            .card {
                box-shadow: none;
            }
        }
    }

    main {
        width: 95%;
    }
}
