#add-order-page {
    margin-top: 50px;
    padding: 15px;

    div[class^='col'] {
        float: right;
    }

    .form-group {
        label {
            width: 100%;
        }

        input {
            width: 100%;
        }
    }

    button:focus {
        outline: none !important;
    }
}

.alert--notify {
    .alert--notify__close {
        background: no-repeat;
        border: none;
        &:focus{
            outline:none;
        }
    }
}