html {
  height: 100%; }

body {
  background-color: #eee;
  margin-top: 30px;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

.mb-15 {
  margin-bottom: 15px; }

#order-payment {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  #order-payment [class^='col-'] {
    float: right; }
  #order-payment .card {
    padding: 10px 15px;
    margin-bottom: 15px;
    background-color: #fff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    border-radius: 3px; }
    #order-payment .card .hx {
      margin: 0; }
      #order-payment .card .hx label {
        display: inline-block;
        border-bottom: solid 2px #666;
        padding: 8px 0; }
    #order-payment .card .order li {
      padding: 10px; }
      #order-payment .card .order li.heading {
        padding: 5px 10px; }
    #order-payment .card #delivery-types .radio-wrapper {
      padding: 10px 0; }
      #order-payment .card #delivery-types .radio-wrapper input {
        vertical-align: middle;
        margin-top: 0; }
  #order-payment #NeedDraft {
    transform: scale(1.2);
    vertical-align: middle;
    margin-top: 0; }
  #order-payment .draft {
    display: flex;
    align-items: center;
    padding-top: 10px;
    margin-bottom: 15px; }
    #order-payment .draft .checkbox-group {
      cursor: pointer; }
      #order-payment .draft .checkbox-group input {
        vertical-align: middle; }

@media (max-width: 576px) {
  body {
    background-color: #fff; }
  .card {
    box-shadow: none !important;
    padding: 10px 0 !important; }
  .address_list {
    overflow: hidden !important; }
    .address_list .add-address-button {
      width: 50px;
      margin: 0 15px; }
    .address_list:after, .address_list:before {
      display: none !important; }
  .address_list .address_item:not(.add-address-button) {
    width: 280px; } }

#modal button.close {
  position: absolute;
  left: 20px;
  top: 20px; }
